# Spindown configuration file
# ---------------------------

[Spindown]
cycle-time = 3	    # Number of seconds between cycles.

syslog = 0          # Turn this on if you want spindown to log messages using syslog.
                    # Don't use this if you want to spindown the disk with the root
                    # filesystem on.

# The configuration works by specifying a default configuration for all the diks on
# your system. Later on you can write exceptions for some specific disks.

# The following options are available:

#	- device: path to the device to spindown
#		exp: * for internal drives : device = /dev/sda or device = /dev/hda
#			 * for removable drives: device = /dev/disk/by-id/ata-Hitachi_HTS54161-SB2404SJHD07JE

#   - spindown:
#       This is a boolean value, put it on 1 if you want spindown to spin down the disk
#       or put it on 0 of you want spindown to leave it untouched. The default is 0.

#   - command:
#       The command to execute when the disk goes idle. The path to the device will be
#       added at the end of this string.
#       Default is "sg_start --stop --pc=2"

#   - idle-time:
#       The time in seconds this disk has to be idle before it is spun down.
#       The default is 1800 seconds.

#   - repeat:
#       Boolean value, if you put this on 1 it will tell spindown to send the command
#       even when the disk is already spundown. This can be handy when you have a
#       program like smartd running which is known to spin certain disks up when it
#       reads SMART information from the disk. The default value is 0.

# Default configuration for any disk
# ----------------------------------

[Default Disk]
idle-time 	= 1800
spindown 	= 0
command 	= sg_start --stop --pc=2
repeat 		= 0


# Configuration for specific disks
# --------------------------------

# [Disk 0]
# device = /dev/disk/by-id/ata-Hitachi_HTS54161-SB2404SJHD07JE
# spindown = 1

# [Disk 1]
# device = /dev/sda
# spindown = 1
# command = hdparm -y

# Because of a bug in iniParser you must leave an empty line at the bottom of this file.
