body {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: #3366aa;
  padding-bottom: 2px;
  border-bottom: 1px dashed #999999;
}

.center {
  text-align: center;
}

#container {
  width: 100%;
  background-color: #efefef;
  margin: 0px;
  padding: 0px;
}

.inner {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 1px 5px 1px 5px;
}

#header {
  border-bottom: 2px solid #999999;
}

#header, #header .inner {
  background-color: #003366;
  text-align: center;
  padding: 5px;
}

#header a {
  padding: 5px;
  margin-left: 7px;
  margin-right: 7px;
  color: #ffffff;
  text-decoration: none;
}

#header a:hover {
  background-color: #3366aa;
}

#footer, #footer a {
  padding: 0px 5px 1px 5px;
  border-top: 2px solid #999999;
  background-color: #003366;
  color: #ffffff;
}

#footer a {
  border: none;
}

#w3c {
  float: right;
}
